<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.UserMapper.UserMapper">
    <insert id="insertUser" parameterType="com.example.eureaserver.entity.UserEO">
        INSERT INTO sys_user(user_id,user_name,password) VALUES (#{userId},#{userName},#{passWorld})
    </insert>
    <update id="updateUser" parameterType="com.example.eureaserver.entity.UserEO">
        UPDATE sys_user u
        <set>
            <if test="userId != null" >user_id= #{userId}</if>
            <if test="userName != null">user_name = #{userName}</if>
            <if test="passWorld != null">password = #{passWorld}</if>
        </set>
    </update>
    <delete id="delUser">
        DELETE FROM sys_user where user_id=#{userId}
    </delete>

    <select id="findById" resultType="com.example.eureaserver.entity.UserEO">
        select u.user_id as userId,u.user_name as userName,u.password as passWorld from sys_user u
        WHERE u.user_id =#{userId}
    </select>
</mapper>